
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.forget-password {
  color: indigo;
}

.forget-password:hover {
  color: blue;
  cursor: pointer;
}